*{
    max-width: 350px;
    margin: 10px auto 0;
    
}

form{
    border: 3px solid #ddd;
    background: #ddd;
    padding: 5px;
}

h2{
    width: 75%;
    margin-left: 13%;
}

h3{
    width: 80%;
    margin-left: 0%;
    margin-right: 30%;
    
}

input{
    width: 100%;
}


button#btn-submit{
    background-color:lightgreen;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 17;
    font-weight: bold;
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}